hyperbolic_shear_lcs_backward.fig
hyperbolic_shear_lcs_backward.pdf
hyperbolic_shear_lcs_details_backward.fig
hyperbolic_shear_lcs_details_backward.pdf
hyperbolic_shear_lcs_details_forward.fig
hyperbolic_shear_lcs_details_forward.pdf
hyperbolic_shear_lcs_forward.fig
hyperbolic_shear_lcs_forward.pdf
